/* Header.css */

.head.active {
    /* Add Box Decoration */
    background-color: #0c0c0c;
    color: #ffffff!important;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    /* Add Shadow */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 

  }
  
  /* Style the links inside the navigation bar */
  .head {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  }


  .head::after{
    content: '';
    position: absolute;
    width: 75%;
    transform: scaleX(0);
    height: 3px;
    bottom: 3px;
    left: 10px;
    background-color: #0c0c0c ;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.head:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #000;
    
}